trunk/InspireCloud/Proxy/Service References/WeatherServiceRef/WeatherService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.inspiredisplays.com/ServiceContract/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.inspiredisplays.com/ServiceContract/" location="http://hptouchsmart600/WeatherService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hptouchsmart600/WeatherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hptouchsmart600/WeatherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hptouchsmart600/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_QueryLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryLocations" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_QueryLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetLatestWeatherReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestWeatherReport" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetLatestWeatherReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestWeatherReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="QueryLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/QueryLocations" message="tns:IWeatherService_QueryLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/QueryLocationsResponse" message="tns:IWeatherService_QueryLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestWeatherReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetLatestWeatherReport" message="tns:IWeatherService_GetLatestWeatherReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetLatestWeatherReportResponse" message="tns:IWeatherService_GetLatestWeatherReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="WeatherService">
    <wsdl:port name="WeatherServiceEndpoint" binding="i0:WeatherServiceEndpoint">
      <soap:address location="http://hptouchsmart600/WeatherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>