trunk/InspireCloud/Proxy/Service References/WeatherServiceRef/WeatherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="Location">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:simpleType name="UnitsSystems">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="UnitsSystems" nillable="true" type="tns:UnitsSystems" />
  <xs:complexType name="WeatherReport">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="WeatherReport" nillable="true" type="tns:WeatherReport" />
</xs:schema>