trunk/InspireServer/Events/Inspire.Server.DirectionManager/Direction/Tests/Direction.Client/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DirectionalImages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectionalImages" nillable="true" type="tns:DirectionalImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectionalImages" nillable="true" type="tns:DirectionalImages" />
  <xs:complexType name="DirectionalImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectionalImage" nillable="true" type="tns:DirectionalImage" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
  <xs:element name="DirectionImage" nillable="true" type="tns:DirectionalImage" />
  <xs:element name="ImageFile" nillable="true" type="xs:base64Binary" />
  <xs:element name="DisplayID" nillable="true" type="xs:string" />
  <xs:complexType name="Directions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Directions" nillable="true" type="tns:Direction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Directions" nillable="true" type="tns:Directions" />
  <xs:complexType name="Direction">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectionImageWebPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectionImageID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:element name="DirectionID" nillable="true" type="xs:string" />
</xs:schema>