trunk/InspireClient/Inspire.Server.Proxy/Service References/DisplayGroupsServiceReference/DisplayGroupServiceReference1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com/DataContract.Model/" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com/DataContract.Model/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DisplayGroups">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisplayGroups" nillable="true" type="tns:DisplayGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayGroups" nillable="true" type="tns:DisplayGroups" />
  <xs:complexType name="DisplayGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayGroup" nillable="true" type="tns:DisplayGroup" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
</xs:schema>