trunk/EventEntryWebSite/InspireEventsEntry/Service References/EventsServiceReference/EventService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HospitalityEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDefinitionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingPostAs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingRoomId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingRoomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeetingRoomLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostEventIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Exhibit" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="BackupMeetingRoomSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverFlowMeetingRoomSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsVisible" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DirectionalImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalityEvent" nillable="true" type="tns:HospitalityEvent" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
  <xs:element name="EventDescriptionID" nillable="true" type="xs:string" />
  <xs:complexType name="HospitalityEvents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HospitalityEvents" nillable="true" type="tns:HospitalityEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalityEvents" nillable="true" type="tns:HospitalityEvents" />
  <xs:element name="EventID" nillable="true" type="xs:string" />
  <xs:complexType name="HospitalityEventDefinitions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HospitalityEventDescriptions" nillable="true" type="tns:HospitalityEventDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalityEventDefinitions" nillable="true" type="tns:HospitalityEventDefinitions" />
  <xs:complexType name="HospitalityEventDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDefinitionGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventFileFormat" nillable="true" type="tns:EventFileFormat" />
      <xs:element minOccurs="0" name="SourceType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Default" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateIntervalMinutes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalityEventDefinition" nillable="true" type="tns:HospitalityEventDefinition" />
  <xs:complexType name="EventFileFormat">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventFileFormatGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextFormat" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EventFormatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FieldContracts" nillable="true" type="tns:FieldContracts" />
      <xs:element minOccurs="0" name="SkipFirstFile" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FieldDelimeter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventFileFormat" nillable="true" type="tns:EventFileFormat" />
  <xs:complexType name="FieldContracts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldContracts" nillable="true" type="tns:FieldContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldContracts" nillable="true" type="tns:FieldContracts" />
  <xs:complexType name="FieldContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventFileFormatGuid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldContract" nillable="true" type="tns:FieldContract" />
  <xs:element name="EventDefinitions" nillable="true" type="tns:HospitalityEventDefinitions" />
  <xs:element name="EventDefinition" nillable="true" type="tns:HospitalityEventDefinition" />
  <xs:element name="Feed" nillable="true" type="tns:HospitalityEventDefinition" />
  <xs:element name="EventDefinitionID" nillable="true" type="xs:string" />
  <xs:element name="HostName" nillable="true" type="xs:string" />
  <xs:element name="EventFileFormatGuid" nillable="true" type="xs:string" />
  <xs:complexType name="EventFileFormats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventFileFormats" nillable="true" type="tns:EventFileFormat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventFileFormats" nillable="true" type="tns:EventFileFormats" />
  <xs:element name="EventFileFormatID" nillable="true" type="xs:string" />
</xs:schema>