trunk/InspireServer/Server/_RebuildAll/ServiceTester/Service References/ServiceReference1/SettingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.inspiredisplays.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://schemas.inspiredisplays.com/ServiceContract/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SettingService" targetNamespace="http://schemas.inspiredisplays.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.inspiredisplays.com/ServiceContract/" location="http://localhost/Inspire.Server/Svc/SettingService?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.inspiredisplays.com/Imports">
      <xsd:import schemaLocation="http://localhost/Inspire.Server/Svc/SettingService?xsd=xsd1" namespace="http://schemas.inspiredisplays.com" />
      <xsd:import schemaLocation="http://localhost/Inspire.Server/Svc/SettingService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetSettingsRequestMessage">
    <wsdl:part name="Key" element="tns:Key" />
  </wsdl:message>
  <wsdl:message name="GetSettingsResponseMessage">
    <wsdl:part name="Setting" element="tns:Setting" />
  </wsdl:message>
  <wsdl:message name="SettingServiceContract_GetSetting_GeneralFaultContractFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralFaultContract" />
  </wsdl:message>
  <wsdl:message name="AddSettingRequestMessage">
    <wsdl:part name="Setting" element="tns:Setting" />
  </wsdl:message>
  <wsdl:message name="AddSettingResponseMessage" />
  <wsdl:message name="SettingServiceContract_AddSetting_GeneralFaultContractFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralFaultContract" />
  </wsdl:message>
  <wsdl:message name="DeleteSettingRequestMessage">
    <wsdl:part name="Key" element="tns:Key" />
  </wsdl:message>
  <wsdl:message name="DeleteSettingResponseMessage" />
  <wsdl:message name="SettingServiceContract_DeleteSetting_GeneralFaultContractFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralFaultContract" />
  </wsdl:message>
  <wsdl:portType name="SettingServiceContract">
    <wsdl:operation name="GetSetting">
      <wsdl:input wsaw:Action="http://schemas.inspiredisplays.com/UserServiceContract/GetSetting" name="GetSettingsRequestMessage" message="tns:GetSettingsRequestMessage" />
      <wsdl:output wsaw:Action="http://schemas.inspiredisplays.com/SettingServiceContract/GetSettingResponse" name="GetSettingsResponseMessage" message="tns:GetSettingsResponseMessage" />
      <wsdl:fault wsaw:Action="http://schemas.inspiredisplays.com/SettingServiceContract/GetSettingGeneralFaultContractFault" name="GeneralFaultContractFault" message="tns:SettingServiceContract_GetSetting_GeneralFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSetting">
      <wsdl:input wsaw:Action="http://schemas.inspiredisplays.com/UserServiceContract/AddSetting" name="AddSettingRequestMessage" message="tns:AddSettingRequestMessage" />
      <wsdl:output wsaw:Action="http://schemas.inspiredisplays.com/SettingServiceContract/AddSettingResponse" name="AddSettingResponseMessage" message="tns:AddSettingResponseMessage" />
      <wsdl:fault wsaw:Action="http://schemas.inspiredisplays.com/SettingServiceContract/AddSettingGeneralFaultContractFault" name="GeneralFaultContractFault" message="tns:SettingServiceContract_AddSetting_GeneralFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSetting">
      <wsdl:input wsaw:Action="http://schemas.inspiredisplays.com/UserServiceContract/DeleteSetting" name="DeleteSettingRequestMessage" message="tns:DeleteSettingRequestMessage" />
      <wsdl:output wsaw:Action="http://schemas.inspiredisplays.com/SettingServiceContract/DeleteSettingResponse" name="DeleteSettingResponseMessage" message="tns:DeleteSettingResponseMessage" />
      <wsdl:fault wsaw:Action="http://schemas.inspiredisplays.com/SettingServiceContract/DeleteSettingGeneralFaultContractFault" name="GeneralFaultContractFault" message="tns:SettingServiceContract_DeleteSetting_GeneralFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SettingService">
    <wsdl:port name="SettingServiceEndpoint" binding="i0:SettingServiceEndpoint">
      <soap:address location="http://localhost/Inspire.Server/Svc/SettingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>