trunk/InspireClient/Inspire.Server.Proxy/Service References/DisplaysServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredispays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredispays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://testserver/Inspire.ClientManager/Display/06112008/Service.svc?xsd=xsd2" namespace="http://schemas.inspiredisplays.com/DataContract.Model/" />
  <xs:element xmlns:q1="http://schemas.inspiredisplays.com/DataContract.Model/" name="Displays" nillable="true" type="q1:Displays" />
  <xs:element xmlns:q2="http://schemas.inspiredisplays.com/DataContract.Model/" name="Display" nillable="true" type="q2:Display" />
  <xs:element name="GUID" nillable="true" type="xs:string" />
  <xs:element name="DisplayID" nillable="true" type="xs:string" />
</xs:schema>