trunk/InspireClient/Inspire.Server.Proxy/Service References/DisplayPropertyServiceReference/DisplayPropertiesServiceReference1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com/DataContract.Model/" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com/DataContract.Model/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DisplayProperties">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisplayProperties" nillable="true" type="tns:DisplayProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayProperties" nillable="true" type="tns:DisplayProperties" />
  <xs:complexType name="DisplayProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayProperty" nillable="true" type="tns:DisplayProperty" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
</xs:schema>