trunk/InspireClient/Inspire.Server.Proxy/Service References/ScheduledSlideServiceReference/ScheduledSlideService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Buttons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Buttons" nillable="true" type="tns:Button" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Buttons" nillable="true" type="tns:Buttons" />
  <xs:complexType name="Button">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlideID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ButtonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduledSlideID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlideGuidToNavigateTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Button" nillable="true" type="tns:Button" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
</xs:schema>