trunk/InspireServer/Server/DisplayAdmin/Inspire.Server.DisplayAdmin.DataAccess/Service References/ServiceReference1/DisplayService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com/ServiceContract/" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com/ServiceContract/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://capehorn/inspire/DisplayService.svc?xsd=xsd1" namespace="http://DataContract.InspireDisplays.com" />
  <xs:import schemaLocation="http://capehorn/inspire/DisplayService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://capehorn/inspire/DisplayService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element xmlns:q1="http://DataContract.InspireDisplays.com" name="Schedules" nillable="true" type="q1:Schedules" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="SlideIDs" nillable="true" type="q2:ArrayOfstring" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="SlideFileStream" type="q3:StreamBody" />
  <xs:element name="SlideFileID" nillable="true" type="xs:string" />
  <xs:element name="SlideFileSize" type="xs:int" />
</xs:schema>