trunk/RegistrationServer/InspireRegistationServer/TestProject/Service References/RegServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Address1" nillable="true" type="xs:string" />
  <xs:element name="Address2" nillable="true" type="xs:string" />
  <xs:element name="City" nillable="true" type="xs:string" />
  <xs:element name="CompanyName" nillable="true" type="xs:string" />
  <xs:element name="Email" nillable="true" type="xs:string" />
  <xs:element name="FirstName" nillable="true" type="xs:string" />
  <xs:element name="LastName" nillable="true" type="xs:string" />
  <xs:element name="Phone" nillable="true" type="xs:string" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="RegKey" type="q1:guid" />
  <xs:element name="State" nillable="true" type="xs:string" />
  <xs:element name="Zip" nillable="true" type="xs:string" />
  <xs:element name="RegDate" type="xs:dateTime" />
</xs:schema>