trunk/InspireClient/Inspire.Server.Proxy/Service References/SlideServiceReference/SlideService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Slides">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Slides" nillable="true" type="tns:Slide" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Slides" nillable="true" type="tns:Slides" />
  <xs:complexType name="Slide">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VResolution" type="xs:double" />
      <xs:element minOccurs="0" name="HResolution" type="xs:double" />
      <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Buttons" nillable="true" type="tns:Buttons" />
      <xs:element minOccurs="0" name="SlideRules" nillable="true" type="tns:SlideRules" />
      <xs:element minOccurs="0" name="SlideTags" nillable="true" type="tns:SlideTags" />
      <xs:element minOccurs="0" name="DefaultDuration" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Slide" nillable="true" type="tns:Slide" />
  <xs:complexType name="Buttons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Buttons" nillable="true" type="tns:Button" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Buttons" nillable="true" type="tns:Buttons" />
  <xs:complexType name="Button">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlideID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ButtonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduledSlideID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlideGuidToNavigateTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Button" nillable="true" type="tns:Button" />
  <xs:complexType name="SlideRules">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SlideRules" nillable="true" type="tns:SlideRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SlideRules" nillable="true" type="tns:SlideRules" />
  <xs:complexType name="SlideRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlideID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rule" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SlideRule" nillable="true" type="tns:SlideRule" />
  <xs:complexType name="SlideTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SlideTags" nillable="true" type="tns:SlideTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SlideTags" nillable="true" type="tns:SlideTags" />
  <xs:complexType name="SlideTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SlideID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SlideTag" nillable="true" type="tns:SlideTag" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
  <xs:element name="SlideID" nillable="true" type="xs:string" />
</xs:schema>