trunk/InspireClient/FlightInfoModule.Proxy/Service References/FlightService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlightInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightInfoService_GetAirports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirports" />
  </wsdl:message>
  <wsdl:message name="IFlightInfoService_GetAirports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirportsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightInfoService_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="IFlightInfoService_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightInfoService_GetAirlines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirlines" />
  </wsdl:message>
  <wsdl:message name="IFlightInfoService_GetAirlines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirlinesResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlightInfoService">
    <wsdl:operation name="GetAirports">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightInfoService/GetAirports" message="tns:IFlightInfoService_GetAirports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightInfoService/GetAirportsResponse" message="tns:IFlightInfoService_GetAirports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightInfoService/GetFlights" message="tns:IFlightInfoService_GetFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightInfoService/GetFlightsResponse" message="tns:IFlightInfoService_GetFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAirlines">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightInfoService/GetAirlines" message="tns:IFlightInfoService_GetAirlines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightInfoService/GetAirlinesResponse" message="tns:IFlightInfoService_GetAirlines_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlightInfoService" type="tns:IFlightInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAirports">
      <soap:operation soapAction="http://tempuri.org/IFlightInfoService/GetAirports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="http://tempuri.org/IFlightInfoService/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirlines">
      <soap:operation soapAction="http://tempuri.org/IFlightInfoService/GetAirlines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightInfoService">
    <wsdl:port name="BasicHttpBinding_IFlightInfoService" binding="tns:BasicHttpBinding_IFlightInfoService">
      <soap:address location="http://localhost:4714/FlightInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>