trunk/DisplayApp/Service/Inspire.Display.Service/Service References/ScheduleServiceReference/ScheduleService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com/ServiceContract/" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com/ServiceContract/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Inspire.Server/Svc/ScheduleService?xsd=xsd2" namespace="http://schemas.inspiredisplays.com/DataContract/" />
  <xs:import schemaLocation="http://localhost/Inspire.Server/Svc/ScheduleService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DisplayID" nillable="true" type="xs:string" />
  <xs:element xmlns:q1="http://schemas.inspiredisplays.com/DataContract/" name="Schedules" nillable="true" type="q1:Schedules" />
  <xs:element name="ScheduleID" nillable="true" type="xs:string" />
  <xs:element xmlns:q2="http://schemas.inspiredisplays.com/DataContract/" name="Schedule" nillable="true" type="q2:Schedule" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Displays" nillable="true" type="q3:ArrayOfstring" />
  <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="DisplayIDs" nillable="true" type="q4:ArrayOfstring" />
  <xs:element name="AlwaysSendSchedule" type="xs:boolean" />
  <xs:element name="Hostname" nillable="true" type="xs:string" />
  <xs:element name="Updated" type="xs:boolean" />
</xs:schema>