trunk/DesignModules/DesignModules/trunk/EventsModule.Proxy/Service References/FeedsServiceReference/FeedServiceReference1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Feeds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feeds" nillable="true" type="tns:Feed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feeds" nillable="true" type="tns:Feeds" />
  <xs:complexType name="Feed">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField1Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField2Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField3Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField4Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField1Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField2Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField3Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField4Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextField1Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextField2Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntField1Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntField2Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecimalField1Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecimalField2Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField1Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField2Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField3Def" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField4Def" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feed" nillable="true" type="tns:Feed" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
  <xs:element name="FeedID" nillable="true" type="xs:string" />
  <xs:complexType name="FeedEntrys">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedEntrys" nillable="true" type="tns:FeedEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedEntrys" nillable="true" type="tns:FeedEntrys" />
  <xs:complexType name="FeedEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeedID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameField4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescField4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextField1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextField2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntField1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntField2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecimalField1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecimalField2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateField4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedEntry" nillable="true" type="tns:FeedEntry" />
  <xs:element name="EntryID" nillable="true" type="xs:string" />
</xs:schema>