trunk/DesignModules/EventsModule.Proxy/Service References/GroupsReference/GroupService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Groups">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Groups" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Groups" nillable="true" type="tns:Groups" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupAliases" nillable="true" type="tns:GroupAliases" />
      <xs:element minOccurs="0" name="GroupImageWebPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="GroupAliases">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupAliases" nillable="true" type="tns:GroupAlias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupAliases" nillable="true" type="tns:GroupAliases" />
  <xs:complexType name="GroupAlias">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupAlias" nillable="true" type="tns:GroupAlias" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
  <xs:element name="AddGroupRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Group" nillable="true" type="tns:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Group" nillable="true" type="tns:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GUID" nillable="true" type="xs:string" />
  <xs:element name="GroupID" nillable="true" type="xs:string" />
  <xs:element name="Aliases" nillable="true" type="tns:GroupAliases" />
  <xs:element name="AliasID" nillable="true" type="xs:string" />
</xs:schema>