trunk/DesignModules/DesignModules/trunk/EventsModule.Proxy/Service References/RoomsService/RoomService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rooms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rooms" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rooms" nillable="true" type="tns:Rooms" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aliases" nillable="true" type="tns:Aliases" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="Aliases">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aliases" nillable="true" type="tns:Alias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aliases" nillable="true" type="tns:Aliases" />
  <xs:complexType name="Alias">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alias" nillable="true" type="tns:Alias" />
  <xs:complexType name="GeneralFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFaultContract" nillable="true" type="tns:GeneralFaultContract" />
  <xs:element name="DisplayID" nillable="true" type="xs:string" />
  <xs:element name="AddRoomRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoomToDisplayAssnRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisplayID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoomToDisplayAssnRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisplayID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GUID" nillable="true" type="xs:string" />
  <xs:element name="RoomID" nillable="true" type="xs:string" />
  <xs:element name="AliasID" nillable="true" type="xs:string" />
</xs:schema>