trunk/InspireServer/Server/SlideManager/old/Service/Tests/Server.Proxy/Service References/SlidesServiceReference/SlideManagerServiceReference1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Slides">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Slides" nillable="true" type="tns:Slide" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Slides" nillable="true" type="tns:Slides" />
  <xs:complexType name="Slide">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Slide" nillable="true" type="tns:Slide" />
  <xs:complexType name="DefaultFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultFaultContract" nillable="true" type="tns:DefaultFaultContract" />
  <xs:element name="SlideID" nillable="true" type="xs:string" />
</xs:schema>