trunk/InspireClient/Inspire.Server.Proxy/Service References/ScheduleServiceReference/ScheduleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.inspiredisplays.com/ServiceContract/" elementFormDefault="qualified" targetNamespace="http://schemas.inspiredisplays.com/ServiceContract/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devserver2003/Inspire.Server/Svc/ScheduleService.svc?xsd=xsd2" namespace="http://schemas.inspiredisplays.com/DataContract/" />
  <xs:import schemaLocation="http://devserver2003/Inspire.Server/Svc/ScheduleService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DisplayID" nillable="true" type="xs:string" />
  <xs:element xmlns:q1="http://schemas.inspiredisplays.com/DataContract/" name="Schedules" nillable="true" type="q1:Schedules" />
  <xs:element name="ScheduleID" nillable="true" type="xs:string" />
  <xs:element xmlns:q2="http://schemas.inspiredisplays.com/DataContract/" name="Schedule" nillable="true" type="q2:Schedule" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Displays" nillable="true" type="q3:ArrayOfstring" />
  <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="DisplayIDs" nillable="true" type="q4:ArrayOfstring" />
</xs:schema>